[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "zonebuilder"]
	path = zonebuilder
	url = https://github.com/zonebuilders/zonebuilder
